/* Main CSS Stylesheet */

body
{
	background-color:#33CC99; 
	width: 100%;
}

h3
{
	text-align:center;
	font-size:12px;
	font-weight: none;
	color:black;
	padding: 5px;
}

/* ID tags */

/* Chalkboard Border BABY */
#top_bb-border, #bottom_bb-border, #left_bb-border, #right_bb-border {
	background: black;
	position:fixed;
}
/* Chalkboard Widths */
#left_bb-border, #right_bb-border {
	top: 0; 
	bottom: 0;
	width: 15px;
}
#top_bb-border, #bottom_bb-border {
	left: 0;
	right: 0;
	height: 15px;
}
/* Chalkboard Positions */
#left_bb-border { left: 0; }
#right_bb-border { right: 0; }
#top_bb-border { top: 0; }
#bottom_bb-border { bottom: 0; }

/* Wrapper encapsulates EVERYTHING */
#wrapper
{
	width:980px;
	margin-left:auto;
	margin-right:auto;
}

/* Titlebar controls the contents 'logo' and 'title'. Think of this as a fat
bar that encapsulates everything. */
#titlebar
{
	width: 100%;
	height: 75px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 5;
	background: rgba(180,221,180, 0.90);
}

/* Title controls the title text itself. */
#title
{
	text-align: center;
	font-family: 'IM Fell DW Pica SC', serif;
	color: white;
	padding-top:25px;
}

/* logo controls the logo icon in the top left. */
#logo
{
	padding-top:3px;
	padding-left:20px;
	float:left;
}

/* mainbody_content controls the map, the navigation,
 and the pop-up description box */
#mainbody_content
{
	padding-top:75px;
	top:75px;
}

/* map_content controls the location of the map HUD */
/* Added border stuff */
#map_content
{
	border:2px ridge #1E6636;
	height:384px; 
	width:384px;
	float:left;
}

/* navigation is the menu settings to the right of the map */
#navigation
{
	float:right;
	min-height: 384px;
	min-width: 100px;
	border:2px ridge #1E6636;
}

/* infobox is the description box displayed beneath the map and 
navigation. This displays information like the county, funding, 
grade averages, bananas, etc. */
#infobox
{
	position:fixed;
	top:474px;
	min-height:75px;
	width:980px;
	border:2px ridge #1E6636;
}

/* copyright styles */
#copyright
{
	position:fixed;
	text-align:center;
	bottom:0;
}


